.button-ghost {
  display: inline-block;
  border: 1px solid #61B25A;
  height: 20px;
  line-height: 20px;
  color: #61B25A;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding: .5em 1.5em;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: transparent;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-backface-visibility: hidden; }
  .button-ghost-small {
    height: 10px;
    line-height: 10px; }
  .button-ghost:hover {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: #61B25A;
    color: #FFFFFF !important; }
  .button-ghost:focus {
    outline: none; }
